.git
.idea
vendor/
node_modules/
writable/logs/*
writable/cache/*
writable/session/*
writable/debugbar/*
writable/uploads/*
writable/exports/*
writable/backups/*
.env
tests/
Dockerfile
docker-compose.yml
phpunit.xml.dist
README.md
LICENSE
!writable/logs/index.html
!writable/cache/index.html
!writable/session/index.html
!writable/debugbar/index.html
!writable/uploads/index.html
